h1,
h2,
h3,
h4,
h5,
p {
  margin : 0;
}

*,
*::after,
*::before {
  box-sizing: border-box 
}

:root {
  --page-padding: 1.2rem 10rem;
  --gap: 1rem;

  /* Colors */
  --light-shades: #d4caa7;
  --light-accent: #c7b470;
  --main-brand: #372830;
  --dark-accent: #69849d;
  --dark-shades: #698469;
}

@media screen and (max-width: 768px) {
  :root {
    --page-padding: 1rem 2rem;
  }
  .nav-container {
    flex-direction: column;
    gap: var(--gap)
  }
  .nav-links {
    flex-direction: column;
  }
  .about-container {
    flex-direction: column;
  }
}