h1,
h2,
h3,
h4,
h5,
p {
  margin : 0;
}

*,
*::after,
*::before {
  box-sizing: border-box 
}

:root {
  --page-padding: 1.2rem 10rem;

  /* Colors */
  --light-shades: #d4caa7;
  --light-accent: #c7b470;
  --main-brand: #372830;
  --dark-accent: #69849d;
  --dark-shades: #698469;
}
/* #69849d
#aecfdc */